@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 20px;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .lower-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10 25px;
  }

  .form {
    position:relative;
    width: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  

  .form > label {
    position: absolute;
    width: 20px;
    height: 40px;
    padding: 0 10px;
    align-items: center;    
    display: flex;
    align-items: center;
  }

   .form input {
    background-color:rgba(0,0,0,.05);
    width: 90%;
    padding-left: 40px;
    height: 40px;
    border: 0;
  }
  
  .form button {
    background-color: #fb3e44;
    color: white;
    width: 7%;
    border: 0;
    height: 40px;
  }

    .glass {
        width: 20px;
        align-self: center;
    }
  
  .logo {
      width:50px;
      margin-right: 1rem;
  }

  .log-in a {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: black;
  }

  .join {
    border: solid 1px;
  }

  .default-section {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .intro {
      background-color: rgba(232,217,217,.3);
  }

  .intro a {
    text-decoration: none;
  }

  .plans-button {
      color: white;
      padding: 5px 40px;
      margin: 40px;
      background-color: #FB3B49;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  }

  .free-join {
      color: black;
      margin: 40px 30px
  }

  h1 {
      font-size: 4em;
      height: 20%;
  }

  .intro article {
      text-align: center;
      height: 20%;
  }

  .buttons {
      height: 20%;
  }

  .hexagon {
      height: 30%;
      margin: 0 0 20px 0;
  }

  h2 {
      font-size: 2em;
      background-color:rgba(255,204,53,.4);
      padding: 0 20px;
      transform: skew(9deg,0deg);
      font-style: italic;
  }

  .open-source p {
      font-size: 0.9em;
      text-align: center;
  }

  .advantages img {
      width: 30px;  
  }

  h3 {
    color: #ED1C24
  }

  .advantages {
      display: flex;
      flex-direction: column;
  }
  .advantages-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 30px 100px;
  }
  
  .advantages-details p {
      font-size: 0.8em;
  }

  .advantages a {
      text-decoration: none;
      background-color: black;
      color: white;
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
      padding: 10px 100px;
      align-self: center;
  }